body {
  font-family: sans-serif;

  background-image: linear-gradient(to top, #315471, #deddd9 100%);
  background-attachment: fixed;
 

  padding-top:: 25%;
  padding-left: 25%;
  padding-right: 25%;
 
 

}


label{
	display: block;
}

/*table*/
table{ border-collapse:collapse; }
th{border:solid 2px #222;  padding:5px;}
td{border:solid 2px #222; padding:5px;}